{% liquid
assign image_width = 400
assign image_height = image_width | divided_by: article.image.aspect_ratio | ceil
%}
<a class="article-card" href="{{ article.url }}">
  <div>
    {% if article.image == blank %}
      {{ 'collection-6' | placeholder_svg_tag: 'placeholder' }}
    {% else %}
      <img src="{{ article.image.src | image_url: width: image_width }}"
        width="{{ image_width }}"
        height="{{ image_height }}"
        alt="{{ article.image.alt }}"
        loading="lazy">
    {% endif %}
  </div>
  <div>
    <h2 data-title="{{ article.title }}">{{ article.title }}</h2>
    <div class="rte">
      <p>
        {{ article.excerpt_or_content | strip_html }}
      </p>
    </div>
    <p class="small-text">
      Published on {{ article.published_at | date: '%b %d, %Y' }}
    </p>
  </div>
</a>
