{% liquid
# Set the linklist here. Having it as a variable means you can use
# a different linklist from the main menu if you have to (useful for
# more complex site structures).
assign menu_handle = 'main-menu'
%}
{% comment %}
This version checks against the linklist path to return a true breadcrumb.
{% endcomment %}
<section id="breadcrumb" class="section-wrap">
  <div class="section">

    <ol aria-label="Breadcrumb" class="flex align-left small-text">
      <li><a href="/" title="Home">Home</a></li>

      {% comment %}
      If this is a PRODUCT, use the linklist to find its true path.
      The categories linklist goes down three levels.
      {% endcomment %}
      {% if template.name == 'product' %}
        {% comment %}
        Create an array of this product's collection handles.
        {% endcomment %}
        {% assign collection_list = "" %}
        {% for collection in product.collections %}
          {% capture collection_list %}{{ collection.handle }}|{{ collection_list }}{% endcapture %}
        {% endfor %}
        {% assign collection_list = collection_list | split: '|' %}

        {% comment %}
        Loop through the linklist to find the trail.
        {% endcomment %}
        {% assign trail_found = false %}
        {% for parent in linklists[menu_handle].links %}
          {% assign this_url = parent.url | remove: shop.url | remove: '/collections/' %}
          {% if collection_list contains this_url %}
            <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
            {% break %}
          {% endif %}
          {% for child in parent.links %}
            {% unless trail_found %}
              {% assign this_url = child.url | remove: shop.url | remove: '/collections/' %}
              {% if collection_list contains this_url %}
                {% if parent.url == "#" %}
                  {% assign parent_url = "/collections" %}
                {% else %}
                  {% assign parent_url = parent.url %}
                {% endif %}
                <li><a href="{{ parent_url }}">{{ parent.title }}</a></li>
                <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                {% assign trail_found = true %}
                {% break %}
              {% endif %}
            {% endunless %}

            {% unless trail_found %}
              {% for grandchild in child.links %}
                {% assign this_url = grandchild.url | remove: shop.url | remove: '/collections/' %}
                {% if collection_list contains this_url %}
                  <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
                  <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                  <li><a href="{{ grandchild.url }}">{{ grandchild.title }}</a></li>
                  {% assign trail_found = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endunless %}

            {% if trail_found %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        <li aria-current="page">{{ product.title }}</li>

      {% comment %}
      If this is a collection, loop through the categories
      linklist and find a trail.
      {% endcomment %}
      {% elsif template.name == 'collection' %}
        {% for parent in linklists[menu_handle].links %}
          {% assign this_parent_url = parent.url | remove: shop.url | remove: '/collections/' %}
          {% if this_parent_url == collection.handle %}
            <li>{{ parent.title }}</li>
            {% break %}
          {% endif %}
          {% for child in parent.links %}
            {% assign this_url = child.url | remove: shop.url | remove: '/collections/' %}
            {% if this_url == collection.handle %}
              <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
              <li>{{ child.title }}</li>
              {% break %}
            {% endif %}
            {% for grandchild in child.links %}
              {% assign this_url = grandchild.url | remove: shop.url | remove: '/collections/' %}
              {% if this_url == collection.handle %}
                <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
                <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                <li>{{ grandchild.title }}</li>
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}

      {% comment %}
      If this is a blog, show the title of the blog
      {% endcomment %}
      {% elsif template.name == 'blog' %}
        <li>{{ blog.title }}</li>

      {% comment %}
      If this is a blog article, show the title of the blog as a link.
      {% endcomment %}
      {% elsif template.name == 'article' %}
        <li>{{ blog.title | link_to: blog.url }}</li>
        <li aria-current="page">{{ article.title }}</li>

      {% comment %}
      If this is a page, there isn't a linklist nav, so just show
      a direct link.
      {% endcomment %}
      {% elsif template.name == 'page' %}
        <li aria-current="page">{{ page.title }}</li>

      {% comment %}
      If this is the search results page, include the search term.
      {% endcomment %}
      {% elsif template.name == 'search' %}
        <li aria-current="page">{{ search.terms | capitalize | prepend: "Search: " }}</li>

      {% comment %}
      For everything else not covered above, show the page title.
      {% endcomment %}
      {% else %}
        <li aria-current="page">{{ page_title }}</li>

      {% endif %}
    </ol>

  </div>
</section>
