{% comment %}
BEGIN GIFT WRAP
If this item is assigned with the "gift wrap" tag,
display the gift wrapping option.
{% endcomment %}
{% assign gift_wrap_checkbox = "" %}
{% if item.variant.available %}
  {% unless gift_wrap == blank %}
    {% if item.product.tags contains "gift wrap" or item.product.tags contains "Gift Wrap" %}
      {% assign gift_wrap_checked = '' %}
      {% if gift_wrap_items contains item.key %}
        {% assign gift_wrap_checked = ' checked' %}
      {% endif %}
      {% capture gift_wrap_checkbox %}
        <div class="gift-wrap-option">
          <label class="flex align-left middle">
            <input class="js--gift-wrap"
              type="checkbox"
              name="{{ item.product_id }}"
              data-item-title="{{ item.title }}"
              value="{{ item.key }}"
              {{ gift_wrap_checked }}
              onclick="runGiftWrap()">
            <span>
              Gift wrap item for {{ gift_wrap.price | money }}
            </span>
          </label>
        </div>
      {% endcapture %}
    {% endif %}
  {% endunless %}
{% endif %}
{% comment %}
END GIFT WRAP
{% endcomment %}

<div class="cart-item js--cart-item">
  <div>
    <div class="flex align-left">
      <div class="cart-item__image">
        <a href="{{ item.url }}">
          {% liquid
          assign thumbnail_height = thumbnail_width | divided_by: item.image.aspect_ratio | ceil
          %}
          {% if item.image == blank %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
          {% else %}
            <img src="{{ item.image | image_url: width: thumbnail_width }}"
              width="{{ thumbnail_width }}"
              height="{{ thumbnail_height }}"
              alt="{{ item.image.alt }}"
              loading="lazy">
          {% endif %}
        </a>
      </div>
      <div class="cart-item__details">
        <h3>
          <a href="{{ item.url }}">{{ item.product.title }}</a>
        </h3>
        <div>
          {% if item.variant.compare_at_price > item.price %}
            <strike>{{ item.variant.compare_at_price | money }}</strike>
            <span class="mark">{{ item.price | money | append: " ea." }}</span>
          {% else %}
            {{ item.price | money | append: " ea." }}
          {% endif %}
        </div>
        {% unless item.product.has_only_default_variant == true %}
          <div>
            <ul>
            {% for option in item.options_with_values %}
              <li>{{ option.name }}: <strong>{{ option.value }}</strong></li>
            {% endfor %}
            </ul>
          </div>
        {% endunless %}
        {{ gift_wrap_checkbox }}
      </div>
    </div>
  </div>
  <div>
    <div class="flex align-left middle">
      <input type="number"
        name="updates[]"
        value="{{ item.quantity }}"
        min="0"
        class="js--cart-item-qty"
        data-key="{{ item.key }}"
        data-id="{{ item.id }}"
        oninput="updateLineItemQty(this);">
      <button type="button"
        class="button-small"
        value="0"
        data-key="{{ item.key }}"
        data-id="{{ item.id }}"
        onclick="if(confirm('Are you sure you want to remove this item from your cart?')){ updateLineItemQty(this); }">
        &times;
      </button>
    </div>
  </div>
  <div>
    <strong class="js--cart-item-total">{{ item.line_price | money }}</strong>
  </div>
</div>
