<div class="cart-item">
  <div>
    <div class="flex align-left">
      <div class="cart-item__image">
        <a href="{{ item.url }}">
          {% liquid
          assign thumbnail_height = thumbnail_width | divided_by: item.image.aspect_ratio | ceil
          %}
          <img src="{{ item.image | image_url: width: thumbnail_width }}"
            width="{{ thumbnail_width }}"
            height="{{ thumbnail_height }}"
            alt="{{ item.image.alt }}">
        </a>
      </div>
      <div class="cart-item__details">
        <h3>
          <a href="{{ item.url }}">{{ item.product.title }}</a>
        </h3>
        <div>{{ item.price | money | append: " ea." }}</div>
        {% unless item.product.has_only_default_variant == true %}
          <div>
            <ul>
            {% for option in item.options_with_values %}
              <li>{{ option.name }}: <strong>{{ option.value }}</strong></li>
            {% endfor %}
            </ul>
          </div>
        {% endunless %}
      </div>
    </div>
  </div>
  <div>
    <input type="number" name="updates[]" value="{{ item.quantity }}">
  </div>
  <div>
    <strong>{{ item.line_price | money }}</strong>
  </div>
</div>
