{% liquid
assign image_width = 400
assign image_height = image_width | times: collection.featured_image.aspect_ratio | ceil
%}
<a class="collection-card" href="{{ collection.url }}">
  <div>
    <img src="{{ collection.featured_image.src | image_url: width: image_width }}"
      width="{{ image_width }}"
      height="{{ image_height }}"
      alt="{{ collection.featured_image.alt }}">
  </div>
  <div>
    <h3>{{ collection.title }}</h3>
  </div>
</a>
