{% liquid
assign image_width = 400
assign image_height = image_width | divided_by: collection.featured_image.aspect_ratio | ceil
%}
<a class="collection-card" href="{{ collection.url }}">
  <div>
    {% if collection.featured_image == blank %}
      {{ 'collection-4' | placeholder_svg_tag: 'placeholder' }}
    {% else %}
      <img src="{{ collection.featured_image.src | image_url: width: image_width }}"
        width="{{ image_width }}"
        height="{{ image_height }}"
        alt="{{ collection.featured_image.alt }}"
        loading="lazy">
    {% endif %}
  </div>
  <div>
    <h3>{{ collection.title }}</h3>
  </div>
</a>
