{% unless request.path == "/cart" or request.path == "/challenge" %}
  <style>
  #custom_signup label {
    display: none;
  }
  .custom_signup-closeicon {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0;
  }
  .custom_signup-closetxt {
    font-size: 14px;
  }
  #custom_signup h3 {
    font-size: 2rem;
  }
  #custom_signup input[type="email"] {
    text-align: center;
    border-radius: 50px;
  }
  dialog#custom_signup[open] {
    opacity: 1;
    transform: scale(1);
  }
  /* Closed state of the dialog */
  dialog#custom_signup {
    opacity: 0;
    transform: scale(0);
    transition:
      opacity 0.4s ease-out,
      transform 0.4s ease-out,
      overlay 0.4s ease-out allow-discrete,
      display 0.4s ease-out allow-discrete;
    /* Equivalent to transition: all 0.7s allow-discrete; */
  }
  /*   Before-open state  */
  /* Needs to be after the previous dialog[open] rule to take effect,
      as the specificity is the same */
  @starting-style {
    dialog#custom_signup[open] {
      opacity: 0;
      transform: scale(0);
    }
  }
  </style>

  <dialog id="custom_signup">
    <button class="custom_signup-closeicon button button-white" type="button" onclick="dismissPopup();">
      &times;
    </button>
    <h3 data-title="{{ settings.newsletter_heading }}">{{ settings.newsletter_heading }}</h3>
    <p>{{ settings.newsletter_text }}</p>
    {% form 'customer' %}
      {% if form.posted_successfully? %}
        <div class="rte">
          <p><strong>Thanks for signing up!</strong></p>
        </div>
      {% endif %}
      <div class="form-row">
        <label for="email">Email</label>
        <input type="email" name="contact[email]" placeholder="Enter email address" required>
      </div>
      <div class="form-row">
        <button type="submit" value="submit" class="button button-white">{{ settings.newsletter_btn_label }}</button>
      </div>
      <div class="form-row">
        <a href="#" class="custom_signup-closetxt" onclick="dismissPopup();return false;">Close</a>
      </div>
    {% endform %}
  </dialog>

  <script>
  const dialog = document.querySelector('#custom_signup');
  const durationInSecs = {{ settings.newsletter_duration }};
  const formSuccess = getParam('contact_posted');
  // Check cookie.
  let cookieValue = false;
  if (document.cookie.includes("dismiss_popup=")) {
    cookieValue = document.cookie
      .split('; ')
        .find(row => row.startsWith('dismiss_popup='))
          .split('=')[1];
    if (cookieValue == "true") {
      cookieValue = true;
    }
  }
  console.log(cookieValue);
  // If cookie is false, display the popup.
  document.addEventListener("DOMContentLoaded", function() {
    if (cookieValue == false && formSuccess != 'true') {
      setTimeout(function(){
        if (Shopify.designMode == undefined) {
          dialog.showModal();
        }
      }, durationInSecs * 1000);
    }
  });
  // Set cookie.
  function setCookie() {
    const expires = new Date();
    let hours = 24;
    expires.setTime(expires.getTime() + (hours * 60 * 60 * 1000));
    document.cookie = `dismiss_popup=true; expires=${expires.toUTCString()}; path=/;`;
  }
  // Dismiss the popup, and set a cookie to expire in 24 hours.
  function dismissPopup() {
    setCookie();
    dialog.close();
  }
  // Display thank you message in the modal on submit.
  if (dialog && formSuccess == 'true' && cookieValue == false) {
    dialog.querySelector('form').remove();
    dialog.querySelector('.custom_signup-text').innerText = "Thanks for signing up!";
    dialog.showModal();
    setCookie();
  }
  </script>
{% endunless %}
