<ul class="paginate-section flex align-center">
  {% if paginate.previous.is_link %}
    <li><a href="{{ paginate.previous.url }}" rel="Prev">Previous</a></li>
  {% endif %}

  {% for page in paginate.parts %}
    {% if paginate.current_page == page.title %}
      <li><strong>{{ page.title }}</strong></li>
    {% else %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
  {% endfor %}

  {% if paginate.next.is_link %}
    <li><a href="{{ paginate.next.url }}" rel="Next">Next</a></li>
  {% endif %}
</ul>
