<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- unless settings.favicon == blank -%}
    <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endunless -%}

  <title>Enter
    {% unless page_title contains shop.name %} {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'mobile.css' | asset_url }}" media="(max-width: 768px)">
  <script src="{{ 'theme.js' | asset_url }}"></script>

  {% render 'schemas' %}
  {% render 'social-meta-tags' %}
  {{ content_for_header }}
</head>

<body>
  <main>
    {{ content_for_layout }}
  </main>
</body>
</html>
