<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- unless settings.favicon == blank -%}
    <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endunless -%}

  <title>{{ page_title }}
    {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
    {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
    {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'mobile.css' | asset_url }}" media="(max-width: 768px)">
  <script src="{{ 'theme.js' | asset_url }}"></script>
  <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>

  {% render 'schemas' %}
  {% render 'social-meta-tags' %}
  {{ content_for_header }}
</head>

<body>
  {% comment %}
  Skip to content accessibility link
  {% endcomment %}
  <a href="#main-content" class="skip-to-content desktop">
    <span>Skip to content</span>
  </a>

  {% sections 'header-group' %}

  {% liquid
  unless template == "index"
    render 'breadcrumb'
  endunless
  %}

  <main id="main-content">
    {{ content_for_layout }}
  </main>

  <footer class="section-wrap">
    <div class="container">
      {% sections 'footer-group' %}
    </div>
  </footer>

  {% liquid
  # Newsletter Popup.
  if settings.newsletter_popup
    render 'newsletter-popup'
  endif
  %}
</body>
</html>
