<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color:{{ section.settings.background | default: '#ffffff' }}
}
{{ section.id | prepend: '#' }} .collections-grid {
  grid-template-columns: repeat({{ section.settings.collections_per_row }}, 1fr);
}
</style>

<div id="{{ section.id }}" class="section-wrap" style="color:{{ section.settings.color | default:'inherit' }};">
  <div class="section">
    {% unless section.settings.text == blank %}
      <{{ section.settings.size }} data-title="{{ section.settings.text }}">
        {{ section.settings.text }}
      </{{ section.settings.size }}>
    {% endunless %}

    <div class="collections-grid">
      {% liquid
      for item in section.settings.collections
        assign collection = collections[item.handle]
        render 'collection-card', collection: collection
      endfor
      %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "collections-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Collections"
    }
  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Heading",
      "default": "Headline",
    },
    {
      "type": "select",
      "id": "size",
      "label": "Heading Size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ],
      "default": "h2"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections"
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections Per Row",
      "info": "Number of collections per row.",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ]
}
{% endschema %}
