<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color: {{ section.settings.background | default: '#ffffff' }}
}
</style>

<div id="{{ section.id }}" class="section-wrap" style="color:{{ section.settings.color | default:'inherit' }};">
  <div class="section">
    <div class="center">
      <{{- section.settings.size }} data-title="{{ section.settings.heading }}">
        {{ section.settings.heading }}
      </{{- section.settings.size -}}>

      <div class="rte">
        {{ section.settings.text }}
      </div>

      {% form 'customer', class: 'form contact-form center align-left' %}
        {% if form.posted_successfully? %}
          <div class="rte">
            <p>
              <strong>Thanks for your enquiry!</strong>
            </p>
          </div>
        {% else %}
          <div class="rte">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        {%- for block in section.blocks -%}

          {% capture label %}
          <label for="{{ block.settings.name | handleize | prepend: 'contact_' }}">
            {{ block.settings.title }}
          </label>
          {% endcapture %}

            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="form-row">
                  {{ label }}
                  <input type="text"
                    id="{{ block.settings.name | handleize | prepend: 'contact_' }}"
                    name="contact[{{- block.settings.name -}}]"
                    placeholder="{{ block.settings.placeholder }}"
                    {% unless block.settings.maxlength == blank %}maxlength="{{ block.settings.maxlength }}"{% endunless %}
                    {% if block.settings.required == true %}required{% endif %}>
                </div>

              {%- when 'textarea' -%}
                <div class="form-row">
                  {{ label }}
                  <textarea name="contact[{{- block.settings.name -}}]"
                    id="{{ block.settings.name | handleize | prepend: 'contact_' }}"
                    placeholder="{{ block.settings.placeholder }}"
                    {% unless block.settings.maxlength == blank %}maxlength="{{ block.settings.maxlength }}"{% endunless %}
                    rows="{{ block.settings.rows | default: 5 }}"
                    {% if block.settings.required == true %}required{% endif %}></textarea>
                </div>

              {%- when 'email' -%}
                <div class="form-row">
                  {{ label }}
                  <input type="email"
                    id="{{ block.settings.name | handleize | prepend: 'contact_' }}"
                    name="contact[email]"
                    placeholder="{{ block.settings.placeholder }}"
                    {% unless block.settings.maxlength == blank %}maxlength="{{ block.settings.maxlength }}"{% endunless %}
                    required>
                </div>

              {%- when 'paragraph' -%}
                {{ block.settings.text }}

              {%- when 'checkbox' -%}
                <div class="form-row">
                  <label class="flex middle align-left" for="{{ block.settings.name | handleize | prepend: 'contact_' }}">
                    <input type="checkbox"
                    id="{{ block.settings.name | handleize | prepend: 'contact_' }}"
                    name="contact[{{- block.settings.name -}}]"
                    {% if block.settings.required == true %}required{% endif %}>
                    {{ block.settings.title }}
                  </label>
                </div>

            {%- endcase -%}
        {% endfor %}

        <div class="form-row">
          <button type="submit" value="submit">
            {{ section.settings.button_label | default: "Sign up" }}
          </button>
        </div>
      {% endform %}

    </div>

  </div>
</div>

{% schema %}
{
  "name": "Contact Form",
  "tag": "section",
  "class": "contact-form-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Contact Form",
      "blocks": [
        {
          "type": "email"
        },
        {
          "type": "textarea",
          "settings": {
            "name": "body"
          }
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text Field",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Label",
          "default": "Label",
          "info": "Display a label for the field."
        },
        {
          "type": "text",
          "id": "name",
          "label": "Input Name",
          "default": "Name",
          "info": "This is the name of the field."
        },
        {
          "type": "number",
          "id": "maxlength",
          "label": "Max Length",
          "default": 128,
          "info": "Leave blank to have no max length."
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "info": "Add additional instructions with a placeholder."
        }
      ]
    },
    {
      "type": "textarea",
      "name": "Textarea",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Label",
          "default": "Label",
          "info": "Display a label for the field."
        },
        {
          "type": "text",
          "id": "name",
          "label": "Input Name",
          "default": "body",
          "info": "This is the name of the field. Default is 'body'."
        },
        {
          "type": "number",
          "id": "maxlength",
          "label": "Max Length",
          "default": 128,
          "info": "Leave blank to have no max length."
        },
        {
          "type": "number",
          "id": "rows",
          "label": "Rows",
          "default": 5
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "info": "Add additional instructions with a placeholder."
        }
      ]
    },
    {
      "type": "email",
      "name": "Email Field",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Label",
          "default": "Email",
          "info": "Display a label for the field."
        },
        {
          "type": "number",
          "id": "maxlength",
          "label": "Max Length",
          "default": 128,
          "info": "Leave blank to have no max length."
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "info": "Add additional instructions with a placeholder.",
          "default": "e.g. steve@example.com"
        }
      ]
    },
    {
      "type": "checkbox",
      "name": "Checkbox",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Label",
          "default": "Label",
          "info": "Display a label for the field."
        },
        {
          "type": "text",
          "id": "name",
          "label": "Input Name",
          "default": "Name",
          "info": "This is the name of the field."
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Placeholder",
          "info": "Add additional instructions with a placeholder."
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Aut ratione sapiente repudiandae modi consequatur eos dolores consectetur dolorum.</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Text",
      "default": "Contact us",
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Complete the form below to send us a message.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Submit"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ]
}
{% endschema %}
