<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color:{{ section.settings.background | default: '#ffffff' }}
}
</style>

<div id="{{ section.id }}" class="section-wrap" style="color:{{ section.settings.color | default:'inherit' }};">
  <div class="section">
    <div class="center">
      <{{- section.settings.size }} data-title="{{ section.settings.heading }}">
        {{ section.settings.heading }}
      </{{- section.settings.size -}}>
    </div>
  </div>
  <div class="section">
    {% for block in section.blocks %}
      <details{% if block.settings.open == true %} open{%- endif -%}>
        <summary>{{ block.settings.title }}</summary>
        <div class="rte">
          {{ block.settings.content }}
        </div>
      </details>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "FAQs",
  "tag": "section",
  "class": "faqs-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "FAQs",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "title": "Vitae aut laudantium perspiciatis repellendus?",
            "content": "<p>Et vel id. Eos numquam sequi placeat et quasi corrupti assumenda. Officia numquam rerum. Excepturi velit tempora. Officiis illo distinctio quisquam minus. Enim iusto adipisci iure impedit. Accusamus doloribus soluta omnis fuga qui eius et.<\/p>"
          }
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Text",
      "default": "Frequently Asked Questions",
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ],
      "default": "h2"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Vitae aut laudantium perspiciatis repellendus?"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Et vel id. Eos numquam sequi placeat et quasi corrupti assumenda. Officia numquam rerum. Excepturi velit tempora. Officiis illo distinctio quisquam minus. Enim iusto adipisci iure impedit. Accusamus doloribus soluta omnis fuga qui eius et.<\/p>"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "Open by default",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
