<div class="relative" style="background-color:{{ section.settings.background }};">
  <!-- image -->
  <div class="container mx-auto px-4">
    <div class="relative h-[400px] overflow-hidden">
      {% if section.settings.image == blank %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
      {% else %}
        {% assign image = section.settings.image %}
        <img 
          src="{{image | image_url: width: image.width }}"
          width="{{ image.width }}" 
          height="{{ image.height }}"
          alt="{{ image.alt }}"
          class="w-full h-full object-cover"
          style="object-position:{{ section.settings.object_position }};"
          loading="lazy"
        />
      {% endif %}
    </div>
  </div>

  <!-- content -->
  <div class="container mx-auto px-4">
    <div class="absolute top-0 bottom-0 left-0 right-0 flex items-center">
      <div class="max-w-[600px] m-10 p-4 bg-white/50 backdrop-blur-sm rounded-lg z-10">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <{{- block.settings.size }} class="text-4xl font-bold mb-4" data-title="{{ block.settings.text }}">
                {{ block.settings.text }}
              </{{- block.settings.size -}}>
            {%- when 'text' -%}
              <p class="text-lg mb-6">{{ block.settings.text }}</p>
            {% when 'buttons' %}
              <div class="flex flex-wrap gap-4">
                {% if block.settings.button1_enable %}
                  <a class="btn btn-primary" href="{{ block.settings.button1_link | default: '#' }}">
                    {{ block.settings.button1_label }}
                  </a>
                {% endif %}
                {% if block.settings.button2_enable %}
                  <a class="btn btn-secondary" href="{{ block.settings.button2_link | default: '#' }}">
                    {{ block.settings.button2_label }}
                  </a>
                {% endif %}
              </div>
          {% endcase %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Banner",
  "tag": "section",
  "class": "image-banner-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background Colour",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "object_fit",
      "label": "Fit",
      "options": [
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "contain"
    },
    {
      "type": "select",
      "id": "object_position",
      "label": "Position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Headline",
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Asperiores voluptatem rerum fuga assumenda similique voluptatem sapiente qui non voluptatibus.",
          "label": "Text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button1_label",
          "default": "Button label",
          "label": "Button 1 Label "
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "Button 1 Link"
        },
        {
          "type": "checkbox",
          "id": "button1_enable",
          "default": true,
          "label": "Show Button 1?"
        },
        {
          "type": "text",
          "id": "button2_label",
          "default": "Button label",
          "label": "Button 2 Label"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Button 2 Link"
        },
        {
          "type": "checkbox",
          "id": "button2_enable",
          "default": false,
          "label": "Show Button 2?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
