{% stylesheet %}
.video-text-left .video-text-asset {
  order: -1;
}
{% endstylesheet %}

<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color:{{ section.settings.background | default: '#ffffff' }}
}
</style>

<div id="{{ section.id }}" class="section-wrap" style="color:{{ section.settings.color | default:'inherit' }};">
  <div class="section">
    <div class="grid-2 middle video-text-{{ section.settings.video_position }}">
      <!-- content -->
      <div class="video-text-content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <{{- block.settings.size }} data-title="{{ block.settings.text }}">{{ block.settings.text }}</{{- block.settings.size -}}>
            {%- when 'text' -%}
              <div class="rte">
                {{ block.settings.text }}
              </div>
            {% when 'buttons' %}
              <p>
                <a class="button" href="{{ block.settings.button_link | default: '#' }}">
                  {{ block.settings.button_label }}
                </a>
              </p>
          {% endcase %}
        {%- endfor -%}
      </div>
      <div class="video-text-asset">
        <!-- video -->
        <div>
          {% if section.settings.video == blank %}
            {{ 'collection-4' | placeholder_svg_tag: "placeholder" }}
          {% else %}
            {% capture video_sizes %}
            width:100%; height:100%; object-fit: {{ section.settings.object_fit }}; object-position: {{ section.settings.object_position }}; aspect-ratio: {{ section.settings.aspect_ratio }}
            {% endcapture %}

            {% liquid
            if section.settings.video.type == 'youtube'
              assign video_src = section.settings.video.id | prepend: "https://www.youtube.com/embed/"
              assign video_class = "video-iframe-youtube"
            else
              assign video_src = section.settings.video.id | prepend: "https://player.vimeo.com/video/"
              assign video_class = "video-iframe-vimeo"
            endif
            %}
            <iframe
              class="{{ video_class }}"
              style="{{ video_sizes }}"
              src="{{ video_src }}"
              width="{{ section.settings.video_width }}"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video & Text",
  "tag": "section",
  "class": "video-text-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Video Settings"
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "Video URL",
      "accept": [
        "youtube",
        "vimeo"
      ]
    },
    {
      "type": "select",
      "id": "object_fit",
      "label": "Fit",
      "options": [
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "contain"
    },
    {
      "type": "select",
      "id": "object_position",
      "label": "Position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect Ratio",
      "options": [
        {
          "value": "1/1",
          "label": "1:1 (Square)"
        },
        {
          "value": "3/2",
          "label": "3:2 (Portrait)"
        },
        {
          "value": "5/4",
          "label": "5:4 (Portrait)"
        },
        {
          "value": "4/3",
          "label": "4:3 (Landscape)"
        },
        {
          "value": "16/9",
          "label": "16:9 (Landscape)"
        }
      ],
      "default": "1/1"
    },
    {
      "type": "range",
      "id": "video_width",
      "min": 400,
      "max": 1020,
      "step": 10,
      "unit": "px",
      "label": "Video Width",
      "default": 600
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "Video Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Headline",
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Asperiores voluptatem rerum fuga assumenda similique voluptatem sapiente qui non voluptatibus.</p>",
          "label": "Text"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label "
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video & Text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
