<style>
#account {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 3rem;
}
</style>

<section class="section-wrap">
  <div class="section">
    <h1 data-title="Account">Account</h1>
  </div>

  <div id="account" class="section">
    {% render 'account-menu' %}

    <div>
      {%- paginate customer.addresses by 5 -%}
        <div>
          <h2>Address Book</h2>

          {% comment %}
          Add new address form.
          {% endcomment %}
          <details>
            <summary >Add New Address</summary>
            <div>
              {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                <div class="form-row">
                  <label for="AddressFirstNameNew">First Name</label>
                  <input
                    type="text"
                    id="AddressFirstNameNew"
                    name="address[first_name]"
                    value="{{ form.first_name }}"
                    required>
                </div>
                <div class="form-row">
                  <label for="AddressLastNameNew">Last Name</label>
                  <input
                    type="text"
                    id="AddressLastNameNew"
                    name="address[last_name]"
                    value="{{ form.last_name }}"
                    required>
                </div>
                <div class="form-row">
                  <label for="AddressCompanyNew">Company</label>
                  <input
                    type="text"
                    id="AddressCompanyNew"
                    name="address[company]"
                    value="{{ form.company }}">
                </div>
                <div class="form-row">
                  <label for="AddressAddress1New">Address Line 1</label>
                  <input
                    type="text"
                    id="AddressAddress1New"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    required>
                </div>
                <div class="form-row">
                  <label for="AddressAddress2New">Address Line 2</label>
                  <input
                    type="text"
                    id="AddressAddress2New"
                    name="address[address2]"
                    value="{{ form.address2 }}">
                </div>
                <div class="form-row">
                  <label for="AddressCityNew">City</label>
                  <input
                    type="text"
                    id="AddressCityNew"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    required>
                </div>
                <div class="form-row">
                  <label for="AddressCountryNew">Country</label>
                    <select
                      id="AddressCountryNew"
                      name="address[country]"
                      data-default="{{ form.country }}"
                      data-target="#AddressProvinceNew"
                      autocomplete="country"
                      onchange="provinces();">
                      {{ all_country_option_tags }}
                    </select>
                </div>
                <div class="form-row" style="display: none">
                  <label for="AddressProvinceNew">Province</label>
                  <select
                    id="AddressProvinceNew"
                    name="address[province]"
                    data-default="{{ form.province }}"
                  ></select>
                </div>
                <div class="form-row">
                  <label for="AddressZipNew">Post Code</label>
                  <input
                    type="text"
                    id="AddressZipNew"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters">
                </div>
                <div class="form-row">
                  <label for="AddressPhoneNew">Phone Number</label>
                  <input
                    type="tel"
                    id="AddressPhoneNew"
                    name="address[phone]"
                    value="{{ form.phone }}">
                </div>
                <div class="form-row">
                  <label class="flex middle align-left" for="address_default_address_new">
                    {{ form.set_as_default_checkbox }}
                    Set as default
                  </label>
                </div>
                <div class="form-row">
                  <button>Save Address</button>
                </div>
              {%- endform -%}
            </div>
          </details>

          {% comment %}
          Manage existing addresses.
          {% endcomment %}
          {%- for address in customer.addresses -%}
            <details>
              <summary class="flex middle">
                {{ address.address1 }}, {{ address.province }}
                {%- if address == customer.default_address -%}
                  <span class="pill">Default</span>
                {%- endif -%}
              </summary>
              <div id="EditAddress_{{ address.id }}">
                <h3>Edit Address</h3>
                {%- form 'customer_address', address -%}
                  <div class="form-row">
                    <label for="AddressFirstName_{{ form.id }}">First Name</label>
                    <input
                      type="text"
                      id="AddressFirstName_{{ form.id }}"
                      name="address[first_name]"
                      value="{{ form.first_name }}"
                      required>
                  </div>
                  <div class="form-row">
                    <label for="AddressLastName_{{ form.id }}">Last Name</label>
                    <input
                      type="text"
                      id="AddressLastName_{{ form.id }}"
                      name="address[last_name]"
                      value="{{ form.last_name }}"
                      required>
                  </div>
                  <div class="form-row">
                    <label for="AddressCompany_{{ form.id }}">Company</label>
                    <input
                      type="text"
                      id="AddressCompany_{{ form.id }}"
                      name="address[company]"
                      value="{{ form.company }}">
                  </div>
                  <div class="form-row">
                    <label for="AddressAddress1_{{ form.id }}">Address Line 1</label>
                    <input
                      type="text"
                      id="AddressAddress1_{{ form.id }}"
                      name="address[address1]"
                      value="{{ form.address1 }}"
                      required>
                  </div>
                  <div class="form-row">
                    <label for="AddressAddress2_{{ form.id }}">Address Line 2</label>
                    <input
                      type="text"
                      id="AddressAddress2_{{ form.id }}"
                      name="address[address2]"
                      value="{{ form.address2 }}">
                  </div>
                  <div class="form-row">
                    <label for="AddressCity_{{ form.id }}">City</label>
                    <input
                      type="text"
                      id="AddressCity_{{ form.id }}"
                      name="address[city]"
                      value="{{ form.city }}"
                      required>
                  </div>
                  <div class="form-row">
                    <label for="AddressCountry_{{ form.id }}">Country</label>
                      <select
                        class="js--country-selector"
                        id="AddressCountry_{{ form.id }}"
                        name="address[country]"
                        data-address-country-select
                        data-default="{{ form.country }}"
                        data-form-id="{{ form.id }}"
                        data-target="#AddressProvince_{{ form.id }}"
                        onchange="provinces();"
                        >
                        {% comment %}
                        Instead of using javascript to do the simple task of setting
                        the selected country, let's do it manually using simple
                        string replacement.
                        {% endcomment %}
                        {% capture country_value %}value="{{ form.country }}"{% endcapture %}
                        {% capture selected_country %}value="{{ form.country }}" selected="selected"{% endcapture %}
                        {{ all_country_option_tags | replace: country_value, selected_country }}
                      </select>
                  </div>
                  <div class="form-row"
                    id="AddressProvinceContainer_{{ form.id }}"
                    style="display:none;"
                    >
                    <label for="AddressProvince_{{ form.id }}">
                      Province
                    </label>
                    <select
                      class="js--province-selector"
                      id="AddressProvince_{{ form.id }}"
                      name="address[province]"
                      data-default="{{ form.province }}"
                    ></select>
                  </div>
                  <div class="form-row">
                    <label for="AddressZip_{{ form.id }}">Post Code</label>
                    <input
                      type="text"
                      id="AddressZip_{{ form.id }}"
                      name="address[zip]"
                      value="{{ form.zip }}"
                      autocapitalize="characters"
                      required>
                  </div>
                  <div class="form-row">
                    <label for="AddressPhone_{{ form.id }}">Phone Number</label>
                    <input
                      type="tel"
                      id="AddressPhone_{{ form.id }}"
                      name="address[phone]"
                      value="{{ form.phone }}">
                  </div>
                  <div class="form-row">
                    <label class="flex middle align-left" for="address_default_address_{{ form.id }}">
                      {{ form.set_as_default_checkbox }}
                      Set as default
                    </label>
                  </div>
                  <div class="form-row">
                    <button type="submit">Update Address</button>
                  </div>
                {%- endform -%}
                <form class="address-delete-form"
                    method="post"
                    action="/account/addresses/{{ address.id }}">
                  <input type="hidden" name="_method" value="delete">
                  <button type="submit"
                    class="button-white"
                    onclick="return confirm('Are you sure you want to delete this address?');">Delete Address</button>
                </form>
              </div>
            </details>
          {%- endfor -%}

          {% render 'pagination', paginate: paginate %}
        </div>
      {%- endpaginate -%}
    </div>

  </div>
</section>

<script>
/*
* Populates the province dropdowns.
* This just needs applying on the country select: onchange="provinces();" with
* the accompanying data attribute `data-target="#id_of_province_select"`.
*/
function provinces() {
  let el = this.event.target;
  let targetEl = el.dataset.target;
  let dataset = el.options[el.selectedIndex].dataset.provinces;
  let provinces = JSON.parse(dataset);
  let provinceSelect = document.querySelector(targetEl);
  provinceSelect.innerHTML = "";
  if (provinces.length == 0) {
    provinceSelect.parentElement.style.display = "none";
  } else {
    provinceSelect.parentElement.style.display = "";
  }
  provinces.forEach(function(values){
    let value = values[0];
    let label = values[1]
    let newOption = document.createElement("option");
    newOption.text = label;
    newOption.value = value;
    provinceSelect.options.add(newOption);
  });
}

/*
* Triggers onchange event on country drowpdowns on page load,
* so the province dropdown is displayed if applicable.
*/
const countrySelectors = document.querySelectorAll('.js--country-selector');
let onChange = new Event('change');
countrySelectors.forEach(function(el){
  el.dispatchEvent(onChange);
});

/*
* Selects the address province in the dropdown on page load.
*/
const provinceSelectors = document.querySelectorAll('.js--province-selector');
provinceSelectors.forEach(function(el){
  if (el.dataset.default != "") {
    el.value = el.dataset.default;
  }
});
</script>
