{% unless section.settings.max_width == blank or section.settings.max_width == 0 %}
<style>
{{ section.id | prepend: '#' }} .section {
  max-width: {{ section.settings.max_width | append: 'px' }};
}
</style>
{% endunless %}

<section id="{{ section.id }}" class="section-wrap">
  <div class="section">
    <h1 data-title="{{ page.title }}">{{ page.title }}</h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type":"number",
      "id": "max_width",
      "label": "Max page width (px)",
      "info": "Leave blank for default.",
      "default": 768
    }
  ]
}
{% endschema %}
