{% liquid
# Set the linklist here. Having it as a variable means you can use
# a different linklist from the main menu if you have to (useful for
# more complex site structures).
assign menu_handle = 'main-menu'
%}

{% for category in linklists[menu_handle].links %}
  {% if category.url == request.path %}
    {% for item in category.links %}
      {% liquid
      assign item_data = item
      if item.type == "collection_link"
        assign item_data = collections[item.handle]
      endif
      %}
      {% capture collection_cards %}
        {{ collection_cards }}
        {% render 'collection-card', collection: item_data %}
      {% endcapture %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% unless collection_cards == blank %}
  <style>
  {{ section.id | prepend: '#' }} .collections-grid {
    grid-template-columns: repeat({{ section.settings.collections_per_row }}, 1fr);
  }
  </style>
  <div id="{{ section.id }}" class="section-wrap">
    <div id="subcollections" class="section">
      <div class="collections-grid">
        {{ collection_cards }}
      </div>
    </div>
  </div>
{% endunless %}

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "collection-sub-section",
  "templates": ["collection"],
  "settings": [
    {
      "type": "paragraph",
      "content": "Display current collection's subcollections if applicable."
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections Per Row",
      "info": "Number of collections per row.",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    }
  ]
}
{% endschema %}
