<style>
#search-form {
  max-width: 600px;
}
{{ section.id | prepend: '#'}} .products-grid {
  grid-template-columns: repeat({{ section.settings.products_per_row }}, 1fr);
}
</style>

<section id="{{ section.id }}" class="section-wrap">
  <div class="section">
    {% if search.performed %}
      {% assign search_term = search.terms | capitalize | prepend: "&quot;" | append: "&quot;" %}
      {% capture title %}Found {{ search.results_count }} results for {{ search_term }}{% endcapture %}
      <h1 data-title="{{ title }}">{{ title }}</h1>
    {% else %}
      <h1 data-title="Search">Search Products</h1>
    {% endif %}
    <form id="search-form" action="{{ routes.search_url }}" method="get" class="flex middle">
      <input type="hidden" name="type" value="product">
      <input type="text"
        name="q"
        value="{{ search.terms }}"
        placeholder="Enter product name or keywords..."
        maxlength="128">
      <button type="submit" class="button solid">Search</button>
    </form>
    <hr>

    {% paginate search.results by section.settings.limit %}
      <div class="products-grid">
        {% liquid
        for product in search.results
          render 'product-card', product: product
        endfor
        %}
      </div>

      <div class="section">
        <div>
          {% render 'pagination', paginate: paginate %}
        </div>
      </div>
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "Search",
  "tag": "section",
  "class": "search-products-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "info": "Limit the number of products displayed per page.",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 24
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products Per Row",
      "info": "Number of products per row.",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    }
  ]
}
{% endschema %}
