{% liquid
assign image_width = 800
assign image_height = image_width | divided_by: article.image.aspect_ratio | ceil
%}

{% unless section.settings.max_width == blank or section.settings.max_width == 0 %}
<style>
{{ section.id | prepend: '#' }} .section {
  max-width: {{ section.settings.max_width | append: 'px' }};
}
</style>
{% endunless %}

<style>
.comments-list li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.comments-list li:not(:last-child) {
  border-bottom: 1px dashed rgba(0,0,0,0.35);
}
</style>

<section id="{{ section.id }}" class="section-wrap">
  <div class="section">
    <h1 data-title="{{ article.title }}">{{ article.title }}</h1>
    <p class="small-text">
      Published on {{ article.published_at | date: '%b %d, %Y' }}
      by {{ article.user.name }}
      {% unless article.tags.size == 0 %}
        &bullet; Tagged with
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
        {% endfor %}
      {% endunless %}
    </p>
    <hr>
    <div class="rte">
      {% unless article.image.src == blank %}
        <div class="article-image box">
          <img src="{{ article.image.src | image_url: width: image_width }}"
          width="{{ image_width }}"
          height="{{ image_height }}"
          alt="{{ article.image.alt }}"
          loading="lazy">
        </div>
      {% endunless %}
      {{ article.content }}
    </div>
  </div>

  {% if article.comments_enabled? %}
    {% capture comments_heading %}
      {% if article.comments_count > 0 %}
        {{ article.comments_count }}
      {% endif %}
      Comments
    {% endcapture %}
    <div id="comments" class="section">
      <hr>
      <h2 data-title="{{ comments_heading }}">{{ comments_heading }}</h2>

      {% if article.comments.size == 0 %}
        <p>No comments yet.</p>
      {% endif %}

      {% paginate article.comments by 25 %}
        <ol class="comments-list">
          {% for comment in article.comments %}
            <li>
              <p>
                <strong class="pill">{{ comment.author }}</strong><br>
                <span class="small-text">{{ comment.created_at | date: format: 'date_at_time'}}</span>
              </p>
              <blockquote>
                <p>{{ comment.content }}</p>
              </blockquote>
            </li>
          {% endfor %}
        </ol>

        {% render 'pagination', paginate: paginate %}
      {% endpaginate %}

      <hr>

      <h2 data-title="Have your say...">Have your say...</h2>
      {% form 'new_comment', article %}
        {{ form.errors | default_errors }}
        <div class="form-row">
          <label for="name">Name</label>
          <input type="text" name="comment[author]" value="{{ form.author }}" required>
        </div>
        <div class="form-row">
          <label for="email">Email (not published)</label>
          <input type="email" name="comment[email]" value="{{ form.email }}" required>
        </div>
        <div class="form-row">
          <label for="comment">Comment</label>
          <textarea name="comment[body]" required>{{ form.body }}</textarea>
        </div>
        <div class="form-row">
          <button type="submit" class="button">Post comment</button>
        </div>
      {% endform %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Article",
  "settings": [
    {
      "type":"number",
      "id": "max_width",
      "label": "Max page width (px)",
      "info": "Leave blank for default.",
      "default": 768
    }
  ]
}
{% endschema %}
