<style>
{{ section.id | prepend: '#' }} .collections-grid {
  grid-template-columns: repeat({{ section.settings.collections_per_row }}, 1fr);
}
</style>

<div id="{{ section.id }}" class="section-wrap">
  <section class="section">
    <h1 data-title="{{ section.settings.title }}">
      {{ section.settings.title }}
    </h1>
    {{ section.settings.content }}
  </section>

  <section class="section">
    <div class="collections-grid">
      {% liquid
      for collection in collections
        render 'collection-card', collection: collection
      endfor
      %}
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Collections List",
  "tag": "section",
  "class": "collections-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page Title",
      "default": "Collections"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Natus voluptas repellat qui voluptates dolores non eos. Eos quo accusamus rerum in. Ducimus consequatur laudantium quibusdam nihil est quis vero non cupiditate. Sit distinctio sed aliquam nobis quo non aut. Eaque atque doloremque et inventore qui laboriosam at totam. Mollitia fugiat est.</p>"
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections Per Row",
      "info": "Number of collections per row.",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    }
  ]
}
{% endschema %}
