{% liquid
# Some layout settings here. These aren't added as template settings, as they
# don't need to be.
assign thumbnail_width = 150

# BEGIN GIFT WRAP: Gift wrap option using a product.
assign cart_item_keys = ""
assign gift_wrap_items_list = ""
assign gift_wrap = all_products[section.settings.gift_wrap_product]
%}
{% unless section.settings.gift_wrap_product == blank and gift_wrap == blank %}
<script>
window.giftWrap = {{ gift_wrap.first_available_variant | json }};
</script>
{% endunless %}

{% comment %}
Save the gift wrap products in an array. The _id property is the
line item of the product that needs gift wrapping.
{% endcomment %}
{% for item in cart.items %}
  {% if item.product.handle == "gift-wrap" %}
    {%- capture gift_wrap_items_list -%}{{- gift_wrap_items_list -}}{%- if gift_wrap_items_list != '' -%},{%- endif -%}{{- item.properties['_id'] -}}{%- endcapture -%}
  {% endif %}
  {% comment %}
  Array of cart item ids for gift wrap. These MUST be a string, so we use capture.
  {% endcomment %}
  {% capture cart_item_keys %}{{- cart_item_keys -}}{%- if cart_item_keys != '' -%},{%- endif -%}{{- item.key -}}{%- endcapture -%}
{% endfor %}
{% assign gift_wrap_items = gift_wrap_items_list | split: ',' %}
{% assign cart_item_keys = cart_item_keys | split: ',' %}
{% comment %}
END: GIFT WRAP
{% endcomment %}

<link rel="stylesheet" href="{{ 'cart.css' | asset_url }}">

{% comment %}
Empty cart section.
{% endcomment %}
{% capture empty_cart %}
<section>
  <p>Your basket is empty. <a href="{{ shop.url }}" class="button">Let's go shopping</a></p>
</section>
{% endcapture %}
<script>
const emptyCartHtml = `{{ empty_cart }}`;
</script>

{% comment %}
{% endcomment %}
<div class="section-wrap">
  <section class="section">
    <h1 data-title="Cart">Cart</h1>
  </section>

  <div id="cart-content" class="section">
    {% if cart.items.size > 0 %}
      <form action="{{ routes.cart_url }}" method="post">
        {% render 'cart-spend', section: section %}

        <section>
          <div class="cart-items-header" data-device="desktop">
            <div>Product</div>
            <div>Quantity</div>
            <div>Total</div>
          </div>
          <div class="cart-items-header" data-device="mobile">
            <div>Items</div>
          </div>
          <div class="cart-items-group">
            {% liquid
            for item in cart.items
              unless item.product.handle == "gift-wrap" and cart_item_keys contains item.properties['_id']
                render 'cart-item', item: item, thumbnail_width: thumbnail_width, gift_wrap: gift_wrap, gift_wrap_items: gift_wrap_items
              endunless
            endfor
            %}
          </div>
          <div class="cart-items-footer">
            <div class="cart-items-footer__total flex">
              <span>{{ section.settings.cart_total_label }}</span>
              <strong class="large-text js--cart-total">{{ cart.total_price | money }}</strong>
            </div>
            <div class="cart-items-footer__note">
              {{ section.settings.checkout_note }}
            </div>
            <div>
              <button type="submit" name="checkout" class="button">
                {{ section.settings.checkout_btn_label }}
              </button>
              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
            </div>
          </div>
        </section>
      </form>
      <script src="{{ 'cart.js' | asset_url }}"></script>
    {% endif %}

    {% if cart.items.size == 0 %}
      {{ empty_cart }}
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "cart-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Spend more message"
    },
    {
      "type": "checkbox",
      "id": "enable_spend_more",
      "label": "Enable",
      "default": false
    },
    {
      "type": "number",
      "id": "spend_more_trigger",
      "label": "Trigger amount"
    },
    {
      "type": "richtext",
      "id": "spend_more_message",
      "label": "Message",
      "info": "Enter SPEND_AMT to insert balance amount.",
      "default": "<p>Spend <strong>SPEND_AMT</strong> to qualify for <strong>free delivery</strong>.</p>"
    },
    {
      "type": "header",
      "content": "Cart total"
    },
    {
      "type": "inline_richtext",
      "id": "cart_total_label",
      "label": "Cart total label",
      "default": "Estimated total"
    },
    {
      "type": "richtext",
      "id": "checkout_note",
      "label": "Checkout note",
      "default": "<p><em>Tax, shipping and discounts are calculated at checkout.</em></p>"
    },
    {
      "type": "text",
      "id": "checkout_btn_label",
      "label": "Checkout button label",
      "default": "Checkout"
    },
    {
      "type": "header",
      "content": "Gift wrap"
    },
    {
      "type": "product",
      "id": "gift_wrap_product",
      "label": "Product",
      "info": "Leave blank to turn feature off."
    }
  ]
}
{% endschema %}
