{% liquid
assign image_width = 600
assign columns = section.blocks.size
%}

{% stylesheet %}
.column-section {
  display: grid;
  gap: 4rem;
}
.column-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4/3;
}
{% endstylesheet %}

<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color:{{ section.settings.background | default: '#ffffff' }}
}
{{ section.id | prepend: '#' }} .column-section {
  grid-template-columns: repeat({{columns}}, 1fr);
}
</style>

<div id="{{ section.id }}" class="section-wrap" style="color:{{ section.settings.color | default:'inherit' }};">
  <div class="section column-section">
    {% for block in section.blocks %}
      {% assign image_height = image_width | divided_by: block.settings.image.aspect_ratio | ceil %}
      <div>
        {% if block.settings.show_image == true %}
          {% if block.settings.image == blank %}
            {{ 'collection-1' | placeholder_svg_tag: "placeholder" }}
          {% else %}
            <div>
              <img src="{{ block.settings.image | image_url: width: image_width }}"
                width="{{ image_width }}"
                height="{{ image_height }}"
                alt="{{ block.settings.image.alt }}"
                loading="lazy">
            </div>
          {% endif %}
        {% endif %}

        {% unless block.settings.text == blank %}
          <{{- block.settings.size }} data-title="{{ block.settings.text }}">
            {{ block.settings.text }}
          </{{- block.settings.size -}}>
        {% endunless %}

        {% unless block.settings.content == blank %}
          <div class="rte">
            {{- block.settings.content -}}
          </div>
        {% endunless %}

        {% unless block.settings.button_label == blank %}
          <div>
            <p>
              <a class="button" href="{{ block.settings.button_link | default: '#' }}">
                {{ block.settings.button_label }}
              </a>
            </p>
          </div>
        {% endunless %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Columns",
  "tag": "section",
  "class": "columns-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Columns",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "A section made up of a maximum of 4 columns. Each column can have an image, heading, content and button."
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Headline",
          "info": "Leave blank to hide."
        },
        {
          "type": "select",
          "id": "size",
          "label": "Size",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "h3"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Molestiae et repudiandae et voluptatem temporibus deleniti nemo dolor et. Aut et ipsa ab quas tempora eum voluptas nihil cumque. Totam nemo nobis quia et dolores. Officia in vitae exercitationem dolor iste ut possimus. Assumenda aut architecto dolores suscipit. Velit voluptatem perferendis nesciunt iste non facilis.</p>",
          "info": "Leave blank to hide."
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label",
          "info": "Leave blank to hide."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}
