<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color:{{ section.settings.background | default: '#ffffff' }}
}
</style>

<div id="{{ section.id }}" class="section-wrap" style="color:{{ section.settings.color | default:'inherit' }};">
  <div class="section center">
    <{{- section.settings.size }} data-title="{{ section.settings.heading }}">
      {{ section.settings.heading }}
    </{{- section.settings.size -}}>

    <div class="rte">
      {{ section.settings.text }}
    </div>

    {% form 'customer', class: 'form newsletter-signup-form center' %}
      {% if form.posted_successfully? %}
        <div class="rte">
          <p><strong>Thanks for signing up!</strong></p>
        </div>
      {% endif %}
      <div class="form-row">
        <label class="hide">Email</label>
        <input type="email" name="contact[email]" placeholder="Enter email address" required>
      </div>
      <div class="form-row">
        <button type="submit" value="submit">{{ section.settings.button_label | default: "Sign up" }}</button>
      </div>
      <p>
        <label class="flex align-center middle">
          <input type="checkbox" required>
          <span>{{ section.settings.privacy_text }}</span>
        </label>
      </p>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Newsletter Signup",
  "tag": "section",
  "class": "newsletter-signup-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Newsletter Signup Form"
    }
  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Text",
      "default": "Headline",
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Asperiores voluptatem rerum fuga assumenda similique voluptatem sapiente qui non voluptatibus.</p>"
    },
    {
      "type": "inline_richtext",
      "id": "privacy_text",
      "label": "Privacy Text",
      "default": "I have read and accept the <a href=\"#\">privacy policy</a>."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Sign up"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ]
}
{% endschema %}
