<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color:{{ section.settings.background | default: '#ffffff' }}
}
{{ section.id | prepend: '#' }} .products-grid {
  grid-template-columns: repeat({{ section.settings.products_per_row }}, 1fr);
}
</style>

<div id="{{ section.id }}" class="section-wrap" style="color:{{ section.settings.color | default:'inherit' }};">
  <div class="section">
    {% unless section.settings.text == blank %}
      <{{ section.settings.size }} data-title="{{ section.settings.text }}">
        {{ section.settings.text }}
      </{{ section.settings.size }}>
    {% endunless %}

    {% assign collection_handle = section.settings.collection | default: "home" %}

    <div class="products-grid">
      {% liquid
      for product in collections[collection_handle].products limit: section.settings.limit
        render 'product-card', product: product
      endfor
      %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Products",
  "tag": "section",
  "class": "collection-products-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Products"
    }
  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Heading",
      "default": "Headline",
    },
    {
      "type": "select",
      "id": "size",
      "label": "Heading Size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        }
      ],
      "default": "h2"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "info": "Limit the number of products displayed.",
      "min": 2,
      "max": 24,
      "step": 1,
      "default": 8
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products Per Row",
      "info": "Number of products per row.",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ]
}
{% endschema %}
