<style>
{{ section.id | prepend: '#' }}.section-wrap:before {
  background-color:{{ section.settings.background | default: '#ffffff' }}
}
{{ section.id | prepend: '#' }}.section-wrap {
  color:{{ section.settings.color | default:'inherit' }};
}
{% unless section.settings.max_width == blank or section.settings.max_width == 0 %}
{{ section.id | prepend: '#' }} .section {
  max-width: {{ section.settings.max_width | append: 'px' }};
}
{% endunless %}
{{ section.id | prepend: '#' }} .rte {
  font-size: {{ section.settings.font_size | append: "rem" }};
}
{{ section.id | prepend: '#' }} .rte p,
{{ section.id | prepend: '#' }} .rte ul,
{{ section.id | prepend: '#' }} .rte ol {
  line-height: {{ section.settings.line_height | append: "rem" }};
}
</style>

<div id="{{ section.id }}" class="section-wrap">
  <div class="section {{ section.settings.alignment }} rte">
    {{ section.settings.text }}
  </div>
</div>

{% schema %}
{
  "name": "Text",
  "tag": "section",
  "class": "text-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Text"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type":"number",
      "id": "max_width",
      "label": "Max width (px)",
      "info": "Leave blank for full width."
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Unde inventore illo nulla ipsum architecto laborum tempora sit recusandae. Qui quidem dicta commodi est rerum corporis reprehenderit voluptatum est. Amet velit doloremque praesentium quos non consequatur sunt cumque. Temporibus eaque in rerum. Et nam quod ut aut dolor. Velit soluta corrupti et consequatur possimus dignissimos.</p>",
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font size",
      "min": 1,
      "max": 5,
      "step": 0.1,
      "default": 1
    },
    {
      "type": "range",
      "id": "line_height",
      "label": "Line height",
      "min": 1,
      "max": 5,
      "step": 0.1,
      "default": 1
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Colour"
    }
  ]
}
{% endschema %}
